* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
 background-color: #2b6ef1;
}

h1{
  font-family:"Grandstander";
  font-style: italic;
  font-size: 32px;
  font-weight: bold;
}

h2{
  font-family:"Grandstander";
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
}

.wrapper {
    max-width: 100%;

}

.wrapper > * {
    border: 2px solid #f08c00;
    background-color: #83e434;
    padding: 10px;
}

.he{
  grid-area: he;
  length: 100%;
  height: 121.8px;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}
.forside{
  font-family:"Grandstander";
  font-style: italic;
  font-size: 30px;
}
.forside:hover{
  font-size: 0;
}
.forside:hover::after{
  content: attr(data-hover);
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}

.ommig{
  font-family:"Grandstander";
  font-style: italic;
  font-size: 30px;
}
.ommig:hover{
  font-size: 0;
}
.ommig:hover::after{
  content: attr(data-hover);
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}

.port{
  font-family:"Grandstander";
  font-style: italic;
  font-size: 30px;
}
.port:hover{
  font-size: 0;
}
.port:hover::after{
  content: attr(data-hover);
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}

.kon{
  font-family:"Grandstander";
  font-style: italic;
  font-size: 30px;
}
.kon:hover{
  font-size: 0;
}
.kon:hover::after{
  content: attr(data-hover);
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}
/** mobil version**/
@media(max-width: 600px) {
  .wrapper {

  }
}
/** tablet version**/
@media(min-width: 601px) and (max-width: 959px) {
  .wrapper {

  }
}
/** browser version**/
@media(min-width: 960px) {
  .wrapper {

  }
}
