* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
 background-color: #2b6ef1;
}

.title{
  clear: both;
}


.logo{
  float: left;
  margin-bottom: 10px;
}


h1{
  font-family:"Grandstander";
  font-style: italic;
  font-size: 32px;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: white;
  font-family:"Grandstander";
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
}

p{
  color: black;
  font-family:"Grandstander";
  font-style: italic;
  font-weight:lighter;
  font-size: 20px;
}

nav ul{
  list-style-type: none;
  margin-top: 35px;
  justify-content: space-between;
  display: flex;
}

li{
  margin-bottom: 30px;
  flex-direction: row;
}

.wrapper {
    max-width: 100%;

}

.wrapper > * {
    border: 8px solid #F1972B;
    background-color: #83e434;
    padding: 10px;
}

.he{
  grid-area: he;
  width: 100%;
  border:0px;
  margin-bottom: 30px;
}

.na{
  grid-area: na;
  height: 324.8px;
  width: 90%;
  background-color: #F12BC8;
}

.co{
  grid-area: co;
  width: 90%;
  height: 284.2px;
  background-color: white;
}
.ma{
  grid-area: ma;
}
.fo{
  grid-area: fo;
  width: 100%;
  height: 84px;
  border: 0px;
  margin-top: 30px;
  display: block;
}

.forside{
  font-family:"Grandstander";
  font-style: italic;
  font-size: 30px;
}
.forside:hover{
  font-size: 0;
}
.forside:hover::after{
  content: attr(data-hover);
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}

.ommig{
  font-family:"Grandstander";
  font-style: italic;
  font-size: 30px;
}
.ommig:hover{
  font-size: 0;
}
.ommig:hover::after{
  content: attr(data-hover);
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}

.port{
  font-family:"Grandstander";
  font-style: italic;
  font-size: 30px;
}
.port:hover{
  font-size: 0;
}
.port:hover::after{
  content: attr(data-hover);
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}

.kon{
  font-family:"Grandstander";
  font-style: italic;
  font-size: 30px;
}
.kon:hover{
  font-size: 0;
}
.kon:hover::after{
  content: attr(data-hover);
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}
/** mobil version**/
@media(max-width: 600px) {
  img {
    width: 75px;
    height: auto;
  }
.logo{
  float: none;
}

nav ul{
  flex-direction:column;
}

  h1{
    display:flex;
    justify-content: center;
  }
  .wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "he he "
      "co co "
      "na na  "
      "fo  fo  ";

    }
  .na{
    display: flex;
    justify-content: center;
    margin: auto;
   }
   .ma{
     display: none;
   }
   .he{
     text-align: center;
   }
   .co{
     margin: auto;
   }
  }

/** tablet version**/
@media(min-width: 601px) and (max-width: 959px) {
  .wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "he  he"
      "na  na "
      "co  ma "
      "fo   fo";
  }

  .he{
    margin: 0px;
  }
  .na{
    width:100%;
    border:0px;
    height: 122.88px;
  }

  .co{
    height: 512px;
    margin-top: 30px;
  }
  .ma{
    height: 512px;
    margin-top: 30px;
  }
  .title{
    clear: none;
    margin-top: 70px;
  }
}
/** browser version**/
@media(min-width: 960px) {
  .wrapper {

  }
}
