* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
 background-color: #2b6ef1;
}

h1{
  font-family:"Grandstander";
  font-style: italic;
  font-size: 32px;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: white;
  font-family:"Grandstander";
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
}

ul{
  list-style-type: none;
}

li{
  margin: 10px;
}

.wrapper {
    max-width: 100%;

}

.wrapper > * {
    border: 2px solid #F1972B;
    background-color: #83e434;
    padding: 10px;
}

.he{
  grid-area: he;
  length: 100%;
  height: 121.8px;
  border:0px;
}

.na{
  grid-area: na;
  length:90%;
  height: 324.8px;
  background-color: #F12BC8;
}

.co{
  grid-area: co;
  length:90%;
  height: 284.2px;
}

.fo{
  grid-area: fo;
  length:100%
  height: 82.2px;
}

.forside{
  font-family:"Grandstander";
  font-style: italic;
  font-size: 30px;
}
.forside:hover{
  font-size: 0;
}
.forside:hover::after{
  content: attr(data-hover);
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}

.ommig{
  font-family:"Grandstander";
  font-style: italic;
  font-size: 30px;
}
.ommig:hover{
  font-size: 0;
}
.ommig:hover::after{
  content: attr(data-hover);
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}

.port{
  font-family:"Grandstander";
  font-style: italic;
  font-size: 30px;
}
.port:hover{
  font-size: 0;
}
.port:hover::after{
  content: attr(data-hover);
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}

.kon{
  font-family:"Grandstander";
  font-style: italic;
  font-size: 30px;
}
.kon:hover{
  font-size: 0;
}
.kon:hover::after{
  content: attr(data-hover);
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}
/** mobil version**/
@media(max-width: 600px) {
  h1{
    display:flex;
    justify-content: center;
  }
  .wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "he he "
      "co co "
      "na na  "
      "fo  fo  ";

    }
/** tablet version**/
@media(min-width: 601px) and (max-width: 959px) {
  .wrapper {

  }
}
/** browser version**/
@media(min-width: 960px) {
  .wrapper {

  }
}
